<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\~Publish\Android\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>

    <TargetFramework>net8.0-android</TargetFramework>
    <RuntimeIdentifier>android-arm64</RuntimeIdentifier>

    <AndroidPackageFormats>apk</AndroidPackageFormats>

    <ApplicationId>com.projectz.game</ApplicationId>
    <ApplicationVersion>1</ApplicationVersion>
    <ApplicationDisplayVersion>1.0</ApplicationDisplayVersion>
    <SupportedOSPlatformVersion>24.0</SupportedOSPlatformVersion>

    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
  </PropertyGroup>
</Project>